{{ $jsHome := resources.Get "js/home.js" | resources.Minify | resources.Fingerprint "sha512" }}
<meta name="image" content="assets/img/profile.JPG" />
<meta name="og:image" content="assets/img/profile.JPG" />
<meta name="twitter:image" content="assets/img/profile.JPG" />

<div id="background">
  {{ partial "partials/home/background.html" . }}
</div>
<!-- <section> -->
  <!-- {{ partial "recent-articles-demo.html" . }} -->
<!-- </section> -->
<script defer type="text/javascript" src="{{ $jsHome.RelPermalink }}" integrity="{{ $jsHome.Data.Integrity }}"></script>
